<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bishe.lu.mapper.TpLinkMapper">
  <resultMap id="BaseResultMap" type="bishe.lu.pojo.TpLink">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="link_id" jdbcType="VARCHAR" property="linkId" />
    <result column="dest_node" jdbcType="VARCHAR" property="destNode" />
    <result column="dest_tp" jdbcType="VARCHAR" property="destTp" />
    <result column="source_tp" jdbcType="VARCHAR" property="sourceTp" />
    <result column="source_node" jdbcType="VARCHAR" property="sourceNode" />
  </resultMap>
</mapper>